/target
.duckdb/
.env
.env.*
/ducklake_files/
/ducklake_meta/
ducklake*

examples/go-adbc/go-adbc
examples/go-sqlx/go-sqlx
tests/runner-go/runner-go
examples/rust-adbc/target
examples/rust-adbc/Cargo.lock
